header {
  background-color: goldenrod;
  text-align: center;
  padding: 20px;
}

html {
    height: 100%;
    color: dimgrey;
    background: black;
}

body {
    height: 100%;
}

.side-bar { color: black;
    background: goldenrod;
}

.gap-small {
    gap: 15px;
}


.uk-button-search {
    color: goldenrod;
    background: black;
    border: transparent;
}
.uk-icon-link {
    color: goldenrod;
}
.uk-navbar {
    float: right;
}
.uk-button {
    background: black;
}

tr:nth-child(odd)>td {
    background-color: goldenrod;
    border: transparent;
}
.uk-table td {
    color: white;
}
.uk-table th {
    color: white;
}
.bottomright {
  position: static;
  bottom: 8px;
  right: 16px;
}
