{% extends 'webook_base.html' %}

{% block page_title %}
About me!
{% endblock %}

{% block page_content %}
<div class="uk-flex uk-flex-center uk-flex-middle" style="height: 50vh;"> <!-- Nowe style tutaj -->
    <div class="uk-child-width-1-2@s uk-grid">
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body" style="background: goldenrod; color: black">
                <h3 class="uk-card-title">About me!</h3>
                <p>Let me tell you something...</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-large uk-card-body" style="background: goldenrod; color: black">
                <h3 class="uk-card-title">Hubert Szałyga (hszalyga@student.wszib.edu.pl) </h3>
                <p>I am an attender of Python Programist 2023/2024 course at WSZIB, The School of Management and Banking in Cracow
                    I want to thanks the user https://github.com/zygmuntz for books database.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}