{% extends 'webook_base.html' %}

{% block page_title %}
About me!
{% endblock %}

{% block page_content %}
    <div class="uk-child-width-1-2@s" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body" style="background: goldenrod">
            <h3 class="uk-card-title">About me!</h3>
            <p>Let me tell you something...</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-large uk-card-body"style="background: goldenrod">
            <h3 class="uk-card-title">Hubert Szałyga</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>

{% endblock %}