{%  extends 'webook_base.html' %}
{% block page_title %}
    Book list
{% endblock %}

{% block page_content %}
<table class="uk-table uk-table-striped">
    <thead>
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Language</th>
        <th>Publication year</th>
        <th>Average rating</th>
        <th>Ratings count</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        	<tr>
                <td>
                    {{ book.cover }}</td>
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.authors }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.original_publication_year|slice:":4" }}</td>
                <td>{{ book.average_rating|floatformat:2 }}</td>
                <td>{{ book.rating_count }}</td>
                <td>
                    <a href="{%  url 'book_details_url' book_id=book.book_id %}">Details</a>
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista książek</title>
</head>
<body>
