{% extends 'webook_base.html' %}

{% block page_title %}
    Read books
{% endblock %}

{% block page_content %}
    <form method="POST">
        {% csrf_token %}
        <div class="uk-margin">
            <label class="uk-form-label" for="collection_name"> Text</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="collection_name" name="collection_name" type="text"
                       placeholder="Name of read books collection">
                <button class="uk-button uk-button-default">
                    Add read books collection!
                </button>
            </div>
        </div>
    </form>
    {% for collection in collections %}
        <div>
            {{ collection.name }} <a href="{% url 'collection_details_url' id=collection.id %}">Details</a>
            {% for book in collection.books.all %}
                <div class="uk-margin-large-left">
                    {{ book.title }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}