{% extends 'webook_base.html' %}

{% block page_title %}
    Read books
{% endblock %}

{% block page_content %}
    <form method="POST">
        {% csrf_token %}
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text"> Text</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="collection_name" name="collection_name" type="text"
                       placeholder="Name of read books collection">
                <button class="uk-button uk-button-default">
                    Add read books collection!
                </button>
            </div>
        </div>
    </form>
    {% for collection in collections %}
        {{ collection.name }}
        {% for book in collection.books.all %}

            <div class="uk-margin-large-left">
            {{ book.title }}
            </div>
        {% endfor %}
    {% endfor %}


{% endblock %}