{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>

</head>

<header>
    <div class="uk-heading-divider uk-heading-large">
        <span>WeBook!
            <span class="uk-hidden">
                <br>More text
            </span>
        </span>
    </div>
</header>

    <div class="uk-flex uk-flex-between uk-margin-small-top uk-margin-small-bottom">
        <div>Database contain:</div>
        <div>Books count: {{ aggregation_data.id__count }}</div>
        <div>Average rating: {{ aggregation_data.statistics__average_rating__avg|floatformat:2 }} / 5.00</div>
        <div>Highest rate: {{ aggregation_data.statistics__average_rating__max }} / 5.00</div>
        <div>Lowest rate: {{ aggregation_data.statistics__average_rating__min }} / 5.00</div>
    </div>

<body>

<div uk-height-viewport="offset-bottom: 0" class="uk-flex" >
        <div class="uk-width-medium side-bar uk-flex uk-flex-column uk-padding-small gap-small">
            {% include 'menu_button.html' with url_name='all_books_url' icon='home' name='Home' %}
            {% include 'menu_button.html' with url_name='add_book_url' icon='plus' name='Add book' %}
            {% include 'menu_button.html' with url_name='all_books_url' icon='album' name='Books catalogue' %}
            {% include 'menu_button.html' with url_name='book_read_url' icon='star' name='Books read collection' %}
            {% include 'menu_button.html' with url_name='all_books_url' icon='info' name='About me' %}
        </div>

        <div class="uk-width-expand" >
            <div class="uk-container">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>